process {
    executor = 'sge'
    penv = 'smp'
    queue = 'all.q'
    //conda.enabled = true
    //conda = "/scicomp/home-pure/tsz0/.conda/envs/hope"
    beforeScript = "source /scicomp/home-pure/tsz0/.conda/envs/mamba/etc/profile.d/conda.sh; conda activate hope"
}
executor {
    queueSize = 24
}

/*
profiles {
    sge {
        process {
            executor = 'sge'
            penv = 'smp'
            queue = 'all.q'
            conda = "/scicomp/home-pure/tsz0/.conda/envs/hope" 
        }
        executor {
            queueSize = 24
        }
    }
}
*/